* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.password {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password h2 {
    font-size: 1.5rem;
    text-align: center;
}

.settings {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pass_result {
    width: 80%;
}